// color
$text-color: #000000;
$btn-color_defaultBG: #FF6336;
$btn-color_default_hooverBG: #fd7c58;
$btn-color_rarelyBG:#FFFFFF;


//font
$font_site: 'Graphik LC TT';
$font_size-h1: 65px;
$font_size-h2: 50px;
$font_size-large_XXL: 40px;
$font_size-large_XL: 35px;
$font_size-large: 30px;
$font_size-medium_XL: 25px;
$font_size-medium_L: 20px;
$font_size-medium: 18px;
$font_size-btn: 16px;
$font_size-small_M: 15px;
$font_size-small: 12px;

//breackpoints
  $xs: 370px;
  $sm: 576px;
  $md: 768px;
  $lg: 992px;
  $xl: 1200px;
  $xxl: 1400px;